header {
  background-color: #202020;
  color: white;

  .header-inner {
    display: flex;
    align-items: center;
  }

  .logo {
    font:{
      size: rem(26);
    }
  }
  
  .menu {
    display: flex;
    align-items: center;
    flex: 1;

    li a {
      color: white;      
    }
  }

  .avatar {
    cursor: pointer;
    width: rem(50);

    .avatar-menu {
      width: rem(150);
      position: absolute;
      top: calc(100% + 20px);
      right: 0;
      background-color: #202020;
      z-index: 1;
      li a {
        color: white;
      }
    }
  }
}